body{
    background: rgb(232, 228, 235)
    
}
    h1{
  color: rgb(13, 9, 9);
font-family: "poppins", sans-serif;
font-weight: bold;
}
h2{
   font-family: "Playfair Display", serif;
   color:rgb(13, 9, 9);
   font-weight: normal;

}